body{
    margin: 0%;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 45px;
}
h2{
    font-size: 35px;
}
.name-color{
    color: orange
}
.half-width{
    width: 30%;
    float: left;
    margin-left: 10%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}
.top-banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
section{
    height: 500px;
    padding-bottom: 150px;
}
.link-button{
    color: aliceblue;
    text-decoration: none;
    background-image: linear-gradient(45deg, lightsalmon, tomato);
    padding: 7px 14px;
    border-radius: 5px;
    font-weight: 500;
}
.middle-area{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}